@media ( max-width: 1200px ){
    .promo{
        background: url(../img/bg/bg1.png) 30% (center/cover) no-repeat
    }
}
@media ( max-width: 991px ){
    .promo{
        padding: 21px 30px;

    }
    .advant{
        padding-bottom: 40px;
        &__wrapper{
            margin-top: 40px;
            justify-content: center;
            align-items: baseline;
        }
        &__icons{
            margin: 25px;
        }
    }
    .consultation{
        padding: 100px 30px 92px;
    }
    .title{
        &_left{
            font-size: 31px;
        }
    }
}
@media ( max-width: 767px ){
    .header{
        &__logo{
            width: 180px;
        }
        &__official{
            font-size: 10px;
            span{
                font-size: 16px;
            }
        }
        &__phone{
            font-size: 13px;
    }
}
    .button{
        &_media-head{
            width: 120px;
            font-size: 10px;
            margin-top: 10px;
        }
        
    }
    .title{
        &_left{
            font-size: 23px;
        }
    }
    .consultation{
        &__descr{
            margin-top: 40px;
            font-size: 18px;
        }
    }
    .footer{
        &-info{
            max-width: 300px;
            bottom: 0;
            top:auto;
            padding: 30px;
            &__addres{
                font-size: 14px;
            }
            &__phone{
                margin-top: 20px;
                font-size: 18px;
            }
            &__social{
                margin-top: 24px;
            }
            &__item{
                margin: 0 10px;
                width: 35px;
                height: 35px;
                img{
                    height: 60%;
                }
            }
        }
    }
}
@media ( max-width: 575px ){
    .header{
        justify-content: space-around;
        &__logo{
            width: 140px;
        }
        &__phone{
            display: none;
        }
        &__official{
            font-size: 9px;
        }
        span{
            font-size: 13px;
            margin-top: 4px;
        }
    }
    .promo{
        padding: 20px 25px 50px;
        &__icons{
            width: 270px;
    }
        &__icon{
            font-size: 11px;
        }
        &__header{
            font-size: 38px;
        }
    }
    .button{
        &_media-down{
            width: 250px;
        }
    }
    .advant{
        &__text{
            min-height: 50px;
        }
    }
    .title{
        &_left{
            font-size: 12px;
        }
    }
    .consultation{
        background: url(../img/bg/bg2.png) 60% (center/cover) no-repeat;
        min-height: auto;
        padding: 60px 30px 60px;
        &__descr{
            font-size: 10px;
        }
    }
    .footer{
        &-info{
            max-width: 250px;
            padding: 20px 10px;
            &__addres{
                font-size: 12px;
            }
            &__phone{
                margin-top: 15px;
                font-size: 14px;
            }
            &__social{
                margin-top: 25px;
            }
            &__item{
                margin: 0 20px;
                width: 25px;
                height: 25px;
                img{
                    height: 60%;
                }
            }
        }
    }
    .overlay{
        .modal#consultation, .modal#order{
            width: 250px;
            padding: 20px;
            min-height: 300px;
            &__subtitle{
                font-size: 16px;
            }
            &__descr{
                font-size: 12px;
            }
            .feed-form_mt25{
                input{
                    height: 30px;
                }
                button{
                    height: 40px;
                    font-size: 13px;
                }
            }
        }
    }
}
@media ( max-width: 390px ){
    .overlay{
        .modal#consultation, .modal#order{
            width: 200px;
            padding: 10px;
            min-height: 270px;
            &__subtitle{
                font-size: 14px;
            }
            &__descr{
                font-size: 10px;
            }
            .feed-form_mt25{
                input{
                    height: 30px;
                    padding: 0 10px;
                }
                button{
                    height: 40px;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }    
}
@media ( max-width: 320px ){
    .button{
        &_media-head{
            margin-top: 0;
        }
    }
}