$main_color: #c70101;
$white_color: #ffffff;
$price_coor: #050505;
$blakc_color: #0d0d0d;
$tab_border_color: #e8e8e8;
$old_price: #555555;
$input_color: #4b4b4b;
$catalog_color: #6b6b6b;
$catalog_border_color: #d0d0d0;
$rev_subtitle: #646464;
$trans_color: #ffffff00;