
@import 'base/variables';
@import 'base/mixin';

*{
    box-sizing: border-box;
    font-family: 'Museo'
}
.container{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/advant';
@import 'blocks/catalog';
@import 'base/media';