.button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main_color;
    border: none;
    cursor: pointer;
    color: $white_color;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    transition: 400ms all;
    &:hover{
        box-shadow:  0px 0px 10px 6px $white_color;
    }
    &_main{
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_subbmit{
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    &_mini{
       @include tab_price_btn;
       &:hover{
           box-shadow:  0px 0px 20px 0px $main_color;
       }
    }
}